div(style="text-align:center; margin-top:40px")
    img(src="assets/imgs/exo-logo_120.png")

    h1(style="text-transform:uppercase") exo-skeleton
    strong project scaffolding that uses backbone and layoutmanager

    p rendered at #{new Date()}
